#grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 10px;
    max-width: 1200px;
    margin: 0 auto;
}
.grid-item {
    background-color: #383838;
    border-radius: 10px;
    padding: 20px;
    text-decoration: none;
    color: white;
}
.solveTitle {
    margin-top: 10px;
}
.text {
    margin-top: 10px;
}
#search {
    border: 2px solid rgb(40, 103, 128);
    border-radius: 4px;
    box-sizing: border-box;
    width: 100%;
    max-width: 1200px;
    padding: 12px 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    background-color: rgb(70,70,70);
    color: white;
    font-size: large;
}
#badSearch {
    margin-bottom: 100px;
    font-size: 25px;
}
#tagsDiv{
    text-align: center;
}
.filter {
    display: inline;
    color: black;
    padding: 2px 5px 2px 0px;
    border-radius: 5px;
    margin-right: 2px;
    margin-left: 2px;
    line-height: 1.7;
    white-space: nowrap;
    opacity: 0.5;
}
.filter:checked {
    opacity: 1;
}
.grayLabel {
    background-color: #808080;
}
.flipLabel {
    background-color: lightgreen;
}
.simulLabel {
    background-color: mediumpurple;
}
.sheerinLabel {
    background-color: lightblue;
}
.nrLabel {
background-color: #00E676;
}
.crLabel {
    background-color: #FFEB3B;
}
.wrLabel {
    background-color: #F44336;
} 
