body {
    background-color: #222222;
    font-family: ubuntu;
    text-align: center;
    color: white;
}
@font-face {
    font-family: ubuntu;
    src: url('/fonts/ubuntu-r.ttf')
}
#container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 50px;
}
.tags {
    display: inline;
    color: black;
    padding: 2px 5px;
    border-radius: 5px;
    margin-right: 2px;
    margin-left: 2px;
}
#time {
    margin-top: 0px;
    font-family: 'Courier New', monospace;
    font-size: 35px;
}
#infoBox {
    display: inline-block;
    background-color: #383838;
    border-radius: 20px;
    padding-left: 20px;
    padding-right: 20px;
}
#infoBox h2 {
    text-align: left;
}
#title {
    margin-bottom: 10px;
}
#nav {
    font-size: 27px;
    text-align: left;
}
#nav a {
    text-decoration: none;
    color: white;
}
html {
    position: relative;
    min-height: 100%;
}
footer {
    background-color: #000;
    color: white;
    height: 30px;
    line-height: 30px;
    text-align: center;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    overflow: hidden;
}
footer a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
}
#restart {
    color: white;
    background-color: #383838;
    border-color: gray;
    padding-left: min(298px,50vw-22px);
    padding-right: min(298px,50vw-22px);
    width: 100%
}
#player {
    background-color: black;
    width: 711px;
    height: 400px;
}
iframe, #player { 
    width: 100%;
    height: min(400px, 100vw * 9/16);
    aspect-ratio: 16 / 9;
}
a {
    color: white;
}
#clock {
    position: relative;
    height: 390px;
    width: 390px;
    margin-right: 30px;
    margin-left: 30px;
    margin-bottom: 30px;
}
/* scales it down a little on small screens */
@media (max-width: 430px) {
    #clock {
        transform: scale(0.7) translate(-50px,0px);
        margin-bottom: 0px;
    }
    #container {
        margin-top: 20px;
    }
}
.averageTimeBox {
    display: inline-block;
    width: 50px;
    height: 40px;
    border-radius: 15%;
    background-color: #383838;
    color: white;
    text-align: center;
    line-height: 40px;
    margin-right: 5px;
    font-size: 16px;
}
.selectedTime {
    background-color: white;
    color: black;
}

.bigCircle {
    aspect-ratio: 1/1;
    width: 430px;
    border-radius: 20%;
    background-color: black;
    position: absolute;
    transform: translate(-20px, -20px);

}
.circle {
    aspect-ratio: 1/1;
    width: 110px;
    border-radius: 50%;
    position: absolute;
    background-color: white;
    box-sizing: border-box;
}
.dial {
    background-color: black;
    width: 10px;
    height: 53px;
    position: absolute;
    transform-origin: center bottom;
    transform: translate(50px, 2px);
}
.twelve {
    aspect-ratio: 1/1;
    width: 10px;
    border-radius: 50%;
    position: absolute;
    background-color: red;
    transform: translate(50px,-10px);
}
.u {
    left: 140px;
}
.ur {
    left: 280px;
}
.l {
    top: 140px;
}
.c {
    left: 140px;
    top: 140px;
}
.r{
    left: 280px;
    top: 140px;
}
.dl {
    top: 280px;
}
.d {
    left: 140px;
    top: 280px;
}
.dr {
    left: 280px;
    top: 280px;
}
.pin {
    aspect-ratio: 1/1;
    width: 30px;
    border-radius: 50%;
    position: absolute;
    background-color: gray;
    transform: translate(110px,110px);
    border: 1px solid black;
}

